.projectsList {
    padding: 50px;
    margin-right: 5px;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
    scrollbar-color: var(--font-color) var(--secondary-color);
}

.projectsList::-webkit-scrollbar {
    margin-right: 5px;
    width: 5px;
}

.projectsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--font-color);
    transition: background-color 0.5s ease-in-out;
}

.projectsList::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

.projectsList::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

.addProject {
    display: flex;
    align-items: center;
    border-radius: 60%;
    color: var(--primary-color);
    background-color: var(--font-color);
    border: 1.5px solid var(--primary-color);
    position: fixed;
    padding: 15px;
    bottom: 5%;
    right: 5%;
}

.addProject:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 1.5px solid var(--font-color);
    color: var(--font-color);
}