.launcheableFormBody {
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    height: 450px;
    justify-content: space-between;
}

.launcheableInputName {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin: 5px 0px;
    color: var(--font-color);
    width: 90%;
}

.launcheableInputName:focus {
    outline: none;
}

.projectFindPathOfProject, .projectFormOpenMainFileButton {
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px 15px;
    font-size: 15px;
    transition: background-color 0.2s ease-in;
    transition: color 0.1s ease-in;
}

.projectFormDeleteLauncheableButton {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.projectFindPathOfProject, .projectFormOpenMainFileButton {
    border: 1px solid;
    font-size: 12px;
    transition: background-color 0.3s ease-in;
    transition: color 0.2s ease-in;
}

.projectFindPathOfProject:hover, .projectFormOpenMainFileButton:hover {
    cursor: pointer;
    color: var(--font-color);
    transition: background-color 0.2s ease-out;
    transition: color 0.1s ease-out;
    background-color: var(--secondary-color);
}

.projectFormDeleteLauncheableButton:hover {
    cursor: pointer;
    transition: none;
}

.projectFindPathOfProject:hover {
    transition: color 0.3s ease-in;
    transition: background-color 0.2s ease-in;
}

.launcheableProjectDependenciesAndScripts {
    height: 50%;
    margin-bottom: 20px;
    padding: 10px;
    overflow-y: hidden;
}

.launcheableProjectDependenciesAndScripts:hover {
    overflow-y: auto;
}


.launcheableScriptsList, .launcheableDependenciesList {
    margin-top: 10px;
}

.launcheableFormRootLocation {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-around;
    position: relative;
} 

.launcheableLaunchFileDisplay {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
}

.launcheableLaunchFileDisplay img {
    margin-right: 10px;
}

.scriptElement {
    margin: 15px 0px;
}

.launcheableSdkAndIde {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.launcheableStructureDisplay {
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}

.launcheableStructure {
    display: flex;
    align-items: center;
}

.launcheableStructure span {
    margin-right: 15px;
}

.launcheableProgramLanguageAndArchitecture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.launcheableProgramLanguageAndArchitecture span {
    margin-left: 15px;
}

.launcheableArchitecture {
    display: flex;
    align-content: center;
    align-items: center;
}

.launcheableProgramLanguage {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.launcheableSdkAndVersion {
    display: flex;
    align-items: center;
}

.launcheableSdkAndVersion img {
    margin-right: 10px;
}