.projectListCardBody {
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 20px 30px;
    margin: 20px 0px;
    width: 100%;
}

.projectListProjectName {
    display: flex;
    margin-bottom: 20px;
}

.projectLauncheablesName {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectListCardLauncheables {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

.projectListCardLauncheables > * {
    flex: 1 0 calc(50% - 10px);
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 768px) {
    .projectListCardLauncheables > * {
        flex: 1 0 calc(100% - 10px);
    }
}
