.projectListCardBody {
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 20px 30px;
    width: 100%;
}

.projectListProjectName {
    display: flex;
    margin-bottom: 20px;
}

.projectLauncheablesName {
    display: flex;
    margin-top: 20px;
}

.projectListCardLauncheables {
    border-radius: 10px;
    padding: 20px;
    display: grid;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.projectListCardLauncheables > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}
