/* TitleBar.css */

.titlebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: end;
    justify-items: center;
    display: flex;
    height: var(--titlebar-height);
    background-color: var(--primary-color);
    color: var(--font-color);
    user-select: none;
    border-bottom: 1px solid var(--border-color);
}

.titlebar-button {
    color: var(--toolbar-icon-color);
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
}

#titlebar-minimize:hover,
#titlebar-maximize:hover {
    background-color: var(--hover-button-color);
}

#titlebar-close:hover {
    background-color: var(--close-hover-button-color);
}
