.projectMonitorBlock {
    width: 100%;
}

.projectMonitorStatus {
    width: 100%;
}

.projectMonitorButtonPanel {
    justify-content: right;
    justify-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    left: 0;
    width: var(--leftnav-width);
}

.projectMonitorPowerButton, .projectMonitorPauseButton {
    align-items: center;
    justify-items: center;
    display: flex;
    padding: 0px 10px;
    border-left: 1px solid var(--border-color);
    align-self: center;
    height: 3vh;
}

.projectMonitorActive {
    background-color: rgb(47, 255, 109);
}

.projectMonitorInactive {
    background-color: rgb(255, 2, 48);
}