.leftNavbarButton {
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    /* border-top: 1px solid var(--leftNavbar-button-background-color);
    border-bottom: 1px solid var(--leftNavbar-button-background-color); */
    padding: 15px 15px;
    margin: 15px 0px;
    width: 80%;
}

.leftNavbarButton:hover {
    background-color: var(--leftNavbar-button-background-color);
    cursor: pointer;
}

.leftNavbarButtonName {
    color: var(--font-color);
    font-size: var(--font-size);
}

.leftNavbarButtonIcon {
    opacity: 1;
    display: none;
}

@media ((min-width: 700px) and (min-height: 600px)) and (max-width: 1200px) {
    .leftNavbarButtonName {
        display: none;
    }
    
    .leftNavbarButtonIcon {
        display: block;
    }
    
}