.launcheableCard {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 450px;
    padding: 20px;
    position: relative;
}

.launcheableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.launcheableSdk span,
.launcheablePromLanguage span {
    font-size: 1rem;
    margin-right: 5px;
}

.launcheableSdk span  {
    margin-right: 10px;
}

.launcheableName {
    display: flex;
    margin: auto;
}

.sdkIcon {
    width: 30px;
}

.promLangIcon {
    width: 35px;
}

.ideIcon {
    width: 45px;
    margin-left: 5px;
}

.launcheableIde,
.launcheableSdk,
.launcheablePromLanguage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    height: 55px;
}

.launcheableSdk, .launcheablePromLanguage {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.launcheablePromLanguage {
    margin-left: 20px;
}

.launcheableIde {
    margin-top: 25px;
    margin-bottom: 25px;
}

.innerIdeLabel {
    display: flex;
    align-items: center;
}

.innerIdeLabel img {
    margin-right: 20px;
}

.launcheableIde button {
    margin-right: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: none;
    padding: 5px 10px;
    transition: ease-in 0.2s background-color;
}

.launcheableCard button:hover {
    transition: ease-in 0.2s background-color;
    transition: ease-in 0.2s color;
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
    cursor: pointer;
}

.launcheableLang {
}

.launcheableIde {
}

.launcheablePath {
}

.launcheableDropButton {
    align-self: flex-end;
    position: absolute;
    right: 4%;
    bottom: 4%;
}

.launcheableDropButton:hover {
    cursor: pointer;
}

.launcheablePlayAndStopButton {
    align-self: flex-end;
    position: absolute;
    right: 10%;
    bottom: 4%;
}

.launcheablePlayAndStopButton:hover {
    cursor: pointer;
}

.launcheableCardButtonPanel {
    position: absolute;
    top: calc(100% + 10px); /* Posición debajo del botón */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%);
    border: 1px solid var(--border-color);
    padding: 20px;
    display: none;
    justify-content: space-evenly;
    margin-top: 25px;
    background-color: white; /* Fondo blanco para el menú */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto elevado */
}

.displayMenu {
    display: absolute;
}

.hideMenu {
    display: none;
}

.launcheableCardEdit {
}

.launcheableCardDelete {
}
