* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

:root {
    --primary-color: #1f1f1f;
    --secondary-color: #333;
    --font-color: #FFF;
    --border-color: #585858;

    --toolbar-icon-color: #d1d1d1;

    --close-hover-button-color: #FF5656;
    --hover-button-color: #333;
    --leftNavbar-button-background-color: #d1d1d1;

    --titlebar-height: 5vh;
    --leftnav-height: 95vh;
    --insidepage-height: var(--leftnav-height);
    --insidepage-width: calc(100% - var(--prehover-leftnav-width));
    --insidepage-top: var(--titlebar-height);
    --insidepage-left: var(--prehover-leftnav-width);
    --posthover-leftnav-width: 20%;
    --prehover-leftnav-width: 5%;

    --button-bg-color: #c2c2c2;
    --button-color: #333;
    --legend-color: #808080;

    --button-hover-bg-color: #1f1f1f;
    --button-hover-color: var(--font-color)

    --font-size: 1.2rem;

    --font-family: 'Segoe UI', 'system-ui';
}

*::-webkit-scrollbar {
    margin-right: 5px;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--font-color);
    transition: background-color 0.5s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

*::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

.legend {
    color: var(--legend-color);
    font-size: 10px;
    font-style: italic;
}

html {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-family: var(--font-family);
}