* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

:root {
    --primary-color: #1f1f1f;
    --secondary-color: #333;
    --font-color: #FFF;
    --border-color: #585858;

    --toolbar-icon-color: #d1d1d1;

    --close-hover-button-color: #FF5656;
    --hover-button-color: #333;
    --leftNavbar-button-background-color: #d1d1d1;

    --titlebar-height: 5vh;
    --leftnav-height: 95vh;
    --insidepage-height: var(--leftnav-height);
    --insidepage-width: calc(100% - var(--prehover-leftnav-width));
    --insidepage-top: var(--titlebar-height);
    --insidepage-left: var(--prehover-leftnav-width);
    --posthover-leftnav-width: 20%;
    --prehover-leftnav-width: 5%;

    --font-size: 1.2rem;

    --font-family: 'Segoe UI', 'system-ui';
}

html {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-family: var(--font-family);
}